# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/

# Development
.next/
.turbo/
.env*.local

# Testing
coverage/
*.tsbuildinfo

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*